RewriteEngine On
RewriteBase /

<FilesMatch "\.(jpg|png|css|js|html|php|json)$">
   Header set Cache-Control "private, proxy-revalidate, max-age=0"
</FilesMatch>

Options All -Indexes

RewriteRule ^.* .route.php [L]

Header always append X-Frame-Options SAMEORIGIN
Header always append X-Content-Type-Options nosniff

Header always append Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header always append Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.cdnfonts.com; img-src 'self' data:; font-src 'self' https://fonts.cdnfonts.com; connect-src 'self'; media-src 'self'; object-src 'self'; frame-src 'self';"
