$base-01: #f9f9fa;
$base-02: #f4f4f6;
$base-03: #e4e4e9;
$base-04: #ccccd7;
$base-05: #575774;
$base-06: #323249;
$base-07: #14141d;
$base-08: #09090e;
$base-09: #030304; // default
$base-10: #010101;

$blue-01: #bfc4f8;
$blue-02: #8892f2;
$blue-03: #3f50e9; // default
$blue-04: #1e2ca8;

$red-01: #f7bec9;
$red-02: #f0879b;
$red-03: #e83e5e; // default
$red-04: #a61e37;

$green-01: #bbdfca;
$green-02: #81c39d;
$green-03: #359e62; // default
$green-04: #52a152;

$yellow-01: #f8eac5;
$yellow-02: #f2d792;
$yellow-03: #e9be4f; // default
$yellow-04: #a8852c;
